<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Registro Médico</title>
    <link rel="stylesheet" href="/styleformulario.css">
</head>



<body>

    <h1>Historial Médico</h1>

    <table border="1" align="center">

        <tr>
            <th>Paciente</th>
            <th>Diagnóstico</th>
            <th>Tratamiento</th>
            <th>Medicamento</th>
            <th>Notas</th>
        </tr>

        <tr th:each="r : ${registros}">
            <td th:text="${r.paciente}"></td>
            <td th:text="${r.diagnostico}"></td>
            <td th:text="${r.tratamiento}"></td>
            <td th:text="${r.medicamento}"></td>
            <td th:text="${r.notas}"></td>
        </tr>

    </table>

    <br><br>

    <a th:href="@{/home}">
        <button type="button">Volver al Home</button>
    </a>

</body>



</html>